[run]
source = src
omit =
    src/main.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
    except ImportError

fail_under = 95
show_missing = true
